{% extends 'base.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
<h1>Commming Soon!</h1>
<ul>
    <li>Ability to delete and alter records
    <p>Can currently be deleted but not through the web page</p>
    <p>Things such as an employee's job position</p></li>
    <li>Easier navigation between employees, stores, and jobs</li>
    <li>Manager log-in control
    <p>Manager must log in to view and use data and the data would show which reps assigned to them</p></li>
    <li>UX improvements</li>
    <li>Add more automated tasks</li>
</ul>
{% endblock %}